.remindPasswordFormWrapper{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 17px 3px rgba(0, 0, 0, 0.25);
    .remindPasswordForm{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        .remindPasswordParagraph{
            font-size: 36px;
        }
        .inputContainer{
            width: 100%;
            height: 88px;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            .remindInput{
                width: 100%;
                height: 48px;
                padding: 0px 20px 0px 20px;
                background-color: #FFF8F8;
                border:1px solid #7C7C7C;
                border-radius: 10px;
                font-size: 18px;
            }
            .error{
                color:red;
                font-size: 14px;
                margin:0px 0px 0px 20px;
                font-weight: 500;
            }  
        }
        .remindPasswordSubmit{
            width: 70%;
            height: 64px;
            color: white;
            font-size: 24px;
            border: 1px solid transparent;
            border-radius: 10px;
            cursor: pointer;
            background-color: #467AFF;
        }
    }
}