<h1>Hi!</h1>

<p>To verify your email, please visit the following link</p>

<a href="{{ url('react_verify', {token: verifyToken}) }}">{{ url('react_verify', {token: verifyToken}) }}</a>


<p>Cheers!</p>
