.unvisible{
    display: none;
}
.registerModal{ 
    overflow: hidden;
    width: 30%;
    height: 70%;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    .registerFormWrapper{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .registerModalHeader{
            width: 100%;
            height: 10%;
            border-bottom: 1px solid #BCBCBC;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .registerModlalHeaderParagraph{
                font-size: 36px;
                font-weight: 600;
            }
            .closeSVGWrapper{
                cursor: pointer;
            }
        }
        .registerModalNav{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .registerModalNavEl{
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .registerModalNavElParagraph{
                font-size: 18px;
                font-weight: 500;
            }
        }
        .registerModalStep{
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            .inputContainer{
                width: 100%;
                height: 52px;
                .registerInput{
                    width: 100%;
                    height: 48px;
                    padding: 0px 20px 0px 20px;
                    background-color: #FFF8F8;
                    border:1px solid #7C7C7C;
                    border-radius: 10px;
                    font-size: 18px;
                }
                .error{
                    color:red;
                    font-size: 14px;
                    margin: 6px 0px 0px 20px;
                    font-weight: 500;
                }    
            }
            .registerButtonContainer{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .registerStepButton{
                    width: 40%;
                    height: 60px;
                    border:1px solid transparent;
                    border-radius: 10px;
                    background-color: #467AFF;
                    color: #FFFFFF;
                    font-size: 24px;
                    cursor: pointer;
                }
            }
            .registerRadiosContainer{
                width: 100%;
                height: 72px;
                .registerRadioLabel{
                    font-size: 18px;
                    font-weight: 500;
                }
                .radios{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    .registerRadioContainer{
                        width: 45%;
                        height: 48px;
                        background-color: #FFF8F8;
                        border:1px solid #7C7C7C;
                        padding: 0px 20px 0px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-direction: row;
                        border-radius: 10px;
                        .registerRadioInput{
                            border-color:#7C7C7C
                        }
                    }
                }
            }
            .registerStepButton{
                width: 70%;
                height: 60px;
                border:1px solid transparent;
                border-radius: 10px;
                background-color: #467AFF;
                color: #FFFFFF;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}
.registerModalOverlay{
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba($color: #E0DDDD, $alpha : .7);
}