<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Faceprism{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{asset('favicon.ico')}}" />
    </head>
    <body>
        {% block body %}
        <div id="root"></div>
        <div id="portal"></div>
        <noscript>
        Turn on javascript to see this app
        </noscript>
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
